<app-layout></app-layout>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h4 class="display-6">ArecaDine is</h4>
          <p class="lead">Making difference in the world, one dish at a time.</p>
          <p>Devoted to creating a better planet, VerTerra’s
            compostable dinnerware offers a variety of eco-
            friendly, sophisticated, and fairly priced single-use
            dinnerware that appeal to the environmentally-and
            socially-conscious consumer. Michael Dwork, VerTerra’s
            CEO, first encountered palm leaf plates in India in
            2005. Michael witnessed a woman on the side of the
            road soaking leaves in water and pressing them in a
            crude waffle iron, creating an all-natural plate on which
            to serve her traditional Indian food. In that moment,
            Michael realized that he could transform this simple
            innovation into a business that would positively impact
            the world.</p>
          <p>VerTerra offers a sophisticated element of nature to each
            table, with beautiful design and sustainable production.
            Lightweight, yet sturdy, VerTerra compostable products
            can withstand hot and cold foods and liquids, and
            are microwaveable and oven-safe. Most importantly,
            our products are environmentally-safe, created only
            from fallen palm leaves and water, without any glues,
            plastics, lacquers, veneers or toxins.</p>
          <p>VerTerra was founded upon principles of creating a
            better planet through sustainable manufacturing and
            delivery initiatives, and through provision of equal
            employment opportunities in rural India and Indonesia.
            VerTerra is rooted in the Latin phrase “Veritas Terra”,
            which means “true to the Earth”. At VerTerra, we are
            inspired by that phrase every day. Our mission is to
            produce the highest quality products at fair prices, using
            sustainable production methods and fair-wage labor.
            We stay true to the Earth by borrowing an agricultural
            byproduct, fallen palm leaves, and returning them to
            the Earth through compost. Our goal is to conserve
            resources for future generations and make a difference,
            one dish at a time.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      Home works
    </div>
  </div>

</div>